<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div class="field">
    <%= form.label :range %>
    <!-- <#%= form.select :range, options_for_select(["1-10", "11-20", "21-30"]), {}, { class: 'form-control' } %> -->
    <%= form.select :range, options_for_select(["1-10", "11-20", "21-30"], range_string(form.object)),  {class: 'form-control'} %>
  </div>


  <div class="field">
    <%= form.label :minimum %>
    <%= form.number_field :minimum %>
  </div>

  <div class="field">
    <%= form.label :maximum %>
    <%= form.number_field :maximum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
